### GO CODE

=== RUN   TestApplyFilter

--- PASS: TestApplyFilter (0.00s)

=== RUN   TestSepiaFilter

--- PASS: TestSepiaFilter (0.00s)

=== RUN   TestNegativeFilter

--- PASS: TestNegativeFilter (0.00s)

PASS

ok      primitive/primitive     0.002s

harold@harold-VirtualBox:~/go_projects/src/primitive/primitive$ go test -v ./...

=== RUN   TestApplyFilter

--- PASS: TestApplyFilter (0.00s)

=== RUN   TestSepiaFilter

--- PASS: TestSepiaFilter (0.00s)

=== RUN   TestNegativeFilter

--- PASS: TestNegativeFilter (0.00s)

PASS

ok      primitive/primitive     (cached)


### PYTHON
----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
